:root {
  --header-footer: #09212a;
  --main-backround: #06171e;
  --bgsemitransparent: rgba(0, 0, 0, 0.8);
  --headline: #ffffff;
  --dot-color1: #ff5c7c;
  --dot-color2: #ffd166;
  --dot-color3: #06d6a0;
  --dot-color4: #4ea8de;
  --dot-color5: #b5179e;
  --button-background: rgb(114, 123, 125);
}