* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--main-backround);
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
h1 {
  color: var(--headline);
  display: flex;
  justify-content: center;
  padding-top: 130px;
  font-size: 56px;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-bottom: 125px;
}
button{
  background: transparent;
  border: none;
  padding: 16px 34px;
}
.header {
  background-color: var(--header-footer);
  padding: 55px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos1 {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 70px);
}
.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}
.first {
  background-color: var(--dot-color1);
}
.second {
  background-color: var(--dot-color2);
}
.third {
  background-color: var(--dot-color3);
}
.fourth {
  background-color: var(--dot-color4);
}
.fifth {
  background-color: var(--dot-color5);
}
.footer {
  background-color: var(--header-footer);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100% 100% 0 0 / 80px;
  padding: 35px;
}
.detail-box{
  background-color: var(--bgsemitransparent);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.detail-box img{
  height: 350px;
  padding: 30px;
}
.gallery{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    max-width: 1440px;
    margin: 0 auto;
}
.nextbt{
  display: flex;
  justify-content: space-around;      
}
.nextbt button{
  font-size: 18px;
}
.img-test button{
  color: white;
  cursor: pointer;
  background-color: var(--button-background);
  border-radius: 30px;
  transition: 1s;
}
.img-test button:hover{
  transform: scale(1.3);
  z-index: 2;
}
.btimg{
  transition: 1s;
      padding-inline: 0px;
      cursor: pointer;
}
.btimg:hover{
   transform: scale(1.1);
  z-index: 2;
  opacity: 0.7;
}
@media (max-width: 430px) {
  .logos .dot {
    display: none;
  }
  .detail-box img{
    height: 250px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1023px){
  .btimg:hover{
    transform: none;
  }
  .btimg{
    transition: none;
  }
  .img-test button:hover{
    transform: none;
  }
  .img-test button{
    transition: none;
  }
}
.d-none{
  display:none;
}
